$theme-color: #00C9A9;
$light-grey-color: #F8F8F8;
$to-project-border: #C9C9C9;

$font-family: 'Quicksand', sans-serif;
$text-font: 'Roboto', sans-serif;
$nav-text-color: #6C6C6C;
$text-color: #5C5C5C;
$header-text-color: #1D1C1C;

