
#architect-header{
	
	background-image:url(../img/architect/bg-sm.jpg);
	background-size: cover;
	background-position: center;

	@include breakpoint('medium'){
		background-image:url(../img/architect/bg-md.jpg);	

	}

	@include breakpoint('wide'){
		background-image:url(../img/architect/bg.jpg);
		
	}

}



